.mainContainer {
  position: relative;
  width: 255px;
  height: 249px;
}
.subCard {
  width: 255px;
  height: 200px;
  border-radius: 1rem;
  overflow: hidden;
}

.card {
  position: absolute;
  display: flex;
  width: 255px;
  height: 207px;
  background-color: var(--dark-blue);
  border-radius: 15px;
  top: 43px;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
}

.cardImg {
  position: relative;
  top: -13px;
  left: 156px;
}

.actionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textAction {
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.titleAction {
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin-top: 1rem;
}

.titleTextAction {
  font-family: "Rubik", sans-serif;
  color: var(--pale-blue);
  font-size: 15px;
  font-weight: 300;
  margin-top: 1rem;
}

.workBackground {
  background-color: var(--light-orange);
}

.playBackground {
  background-color: var(--soft-blue);
}

.studyBackground {
  background-color: var(--light-red);
}

.exerciseBackground {
  background-color: var(--lime-green);
}
.socialBackground {
  background-color: var(--violet);
}

.selfCareBackground {
  background-color: var(--soft);
}

@media (max-width: 500px) {
  .mainContainer {
    position: relative;
    width: 100%;
    height: 170px;
  }

  .subCard {
    width: 100%;
    height: 156px;
  }

  .card {
    width: 100%;
    height: 120px;
    padding: 1rem;
    
  }

  .timeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardImg {
    position: relative;
    top: -11px;
    left: 11.6rem;
  }

  .textAction {
    font-size: 18px;
  }

  .titleAction {
    font-size: 30px;
  }

  .titleTextAction {
    font-size: 15px;
  }
}

/* @media (max-width: 320px) {
  .cardImg {
    left: 12rem;
  }
  .card {
    padding: 1.5rem;
  }

  .textAction {
    font-size: 18px;
  }

  .titleAction {
    font-size: 30px;
    margin-top: 1.5rem;
  }

  .titleTextAction {
    font-size: 15px;
    margin-top: 1.5rem;
  }
} */
