.maiProfileContainer {
  width: 255px;
  height: 518px;
  background-color: var(--dark-blue);
  border-radius: 8px;
}

.subProfileContainer {
  background-color: var(--blue);
  width: 255px;
  height: 354px;
  padding: 1.5rem;
  border-radius: 8px;
}

.imgProfile {
  width: 78px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 2rem;
}

.textProfile {
  font-family: "Rubik", sans-serif;
  color: var(--pale-blue);
  font-size: 18px;
  font-weight: 300;
}

.titleProfile {
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 35px;
}
.buttonProfile {
  padding: 2rem;
}

.buttonProfile a,
li {
  list-style-type: none;
  text-decoration: none;
  color: var(--pale-blue);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 21px;
}

a:hover{
    cursor: pointer;
    color: white;
}
