.mainProfileContainer {
  width: 255px;
  height: 518px;
  background-color: var(--dark-blue);
  border-radius: 15px;
}

.subProfileContainer {
  background-color: var(--blue);
  width: 255px;
  height: 354px;
  padding: 1.5rem;
  border-radius: 15px;
}

.imgProfile {
  width: 78px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 2rem;
}

.textProfile {
  font-family: "Rubik", sans-serif;
  color: var(--pale-blue);
  font-size: 18px;
  font-weight: 300;
}

.titleProfile {
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 40px;
}
.buttonProfile {
  padding: 2rem;
}

.buttonProfile a,
li {
  list-style-type: none;
  text-decoration: none;
  color: var(--pale-blue);
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 21px;
}

a:hover {
  cursor: pointer;
  color: white;
}

@media (max-width: 900px) {
  .mainProfileContainer {
    width: 100%;
    height: 50%;
  }

  .subProfileContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--blue);
    width: 100%;
    height: 50%;
  }

  .buttonProfile {
    display: flex;
    justify-content: space-around;
  }

  .imgProfile {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .imgProfile {
    margin: 0;
    width: 5rem;
  }

  .titleProfile {
    font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 300;
    font-size: 23px;
  }

  .textProfile {
    font-size: 16px;
  }

  .buttonProfile {
    padding: 1rem 1rem 0rem 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
  }

  .buttonProfile a, li {
    font-size: 18px;
    
  }


}
