.dashboardContainer {
  display: grid;
  grid-template-columns: 26% 25%;
}

.subCardContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

@media (max-width: 900px) {
  .dashboardContainer {
    grid-template-columns: 100%;
    gap: 1rem;
    height: 100vh;
    margin: 0 auto;
  }

  .subCardContainer {
    grid-template-columns: repeat(2, auto);
  }

  @media (max-width: 500px) {
    .dashboardContainer {
      grid-template-columns: 100%;
      gap: 1rem;
      height: 100vh;
    }

    .subCardContainer {
      grid-template-columns: repeat(1, auto);
    }
  }
}
